---
const { headline } = Astro.props;
---

<section class="w-full">
  <div class="w-full">
    <div class="bg-[color:var(--color-gray-900)] rounded-[15px] px-[60px] py-[60px] text-center">
      {headline && (
        <h3 class="text-h4 font-heading text-white">{headline}</h3>
      )}
    </div>
  </div>
</section>
